<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ModelDao" >
  <resultMap id="BaseResultMap" type="com.entity.Model" >
    <id column="modid" property="modid" jdbcType="INTEGER" />
    <result column="commid" property="commid" jdbcType="VARCHAR" />
    <result column="modname" property="modname" jdbcType="VARCHAR" />
    <result column="modprice" property="modprice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    modid, commid, modname, modprice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from model
    where modid = #{modid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from model
    where modid = #{modid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Model" >
    insert into model (modid, commid, modname, 
      modprice)
    values (#{modid,jdbcType=INTEGER}, #{commid,jdbcType=VARCHAR}, #{modname,jdbcType=VARCHAR}, 
      #{modprice,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Model" >
    insert into model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modid != null" >
        modid,
      </if>
      <if test="commid != null" >
        commid,
      </if>
      <if test="modname != null" >
        modname,
      </if>
      <if test="modprice != null" >
        modprice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modid != null" >
        #{modid,jdbcType=INTEGER},
      </if>
      <if test="commid != null" >
        #{commid,jdbcType=VARCHAR},
      </if>
      <if test="modname != null" >
        #{modname,jdbcType=VARCHAR},
      </if>
      <if test="modprice != null" >
        #{modprice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Model" >
    update model
    <set >
      <if test="commid != null" >
        commid = #{commid,jdbcType=VARCHAR},
      </if>
      <if test="modname != null" >
        modname = #{modname,jdbcType=VARCHAR},
      </if>
      <if test="modprice != null" >
        modprice = #{modprice,jdbcType=DOUBLE},
      </if>
    </set>
    where modid = #{modid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Model" >
    update model
    set commid = #{commid,jdbcType=VARCHAR},
      modname = #{modname,jdbcType=VARCHAR},
      modprice = #{modprice,jdbcType=DOUBLE}
    where modid = #{modid,jdbcType=INTEGER}
  </update>
      <select id="getList"  resultMap="BaseResultMap">
      select * from model where 1>0 ${where}  order by modid asc limit #{begin}, ${size}
  </select>
  
  <select id="getTotal" resultType="int">
    select count(*) from  model  where 1>0 ${where} 
  </select>
</mapper>